<% provide(:title, 'All users') %>
<div class="container">
<h1>Click a user whos ideas you would like to see</h1>
<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
</div>