<div class="container">
  <h1>Welcome to DIARY</h1>
  </br>
  <%= link_to "back to welcome", welcome_path, class: "btn btn-large btn-primary" %>
	<%= link_to "start using", new_mer_path, class: "btn btn-large btn-primary" %>
  </br>
  </br>
  </br>
</div>