<% provide(:title, 'Help') %>
<div class="container">
  <h2>Features</h2>
  <ul>
		<li>search</li>
		<li>new</li>
		<li>show all</li>
		<li>show tagged</li>
		<li>add to collection</li>
		<li>print collection</li>
  </ul>
</div>