<% provide(:title, 'Info') %>
<div class="container">
<div class="center hero-unit">
  <h1>New user info</h1>
  <h2>Features</h2>
  <ul>
	<li>search</li>
	<li>new</li>
	<li>show all</li>
	<li>show tagged</li>
	<li>add to collection</li>
	<li>print collection</li>
  </ul>
  <%= link_to "Start using Merseri", new_mer_path, class: "btn btn-lg btn-success" %>
</div>
</div>