<% provide(:title, 'Welcome') %>
<div class="container">	
	<br  />
	<%= link_to "TIME", time_path, class: "btn btn-primary btn-custom" %>
	<%= link_to "DIARY", diary_path, class: "btn btn-success btn-custom" %>
	<br  />
	<%= link_to "NETCOMMUNITY", netcommunity_path, class: "btn btn-warning btn-custom" %>
	<%= link_to "INVENTORY", inventory_path, class: "btn btn-danger btn-custom" %>

</div>